<div class="flex h-full max-w-7xl relative">
  <!-- Filters -->
  <section
    class="w-64 border p-5 absolute top-0 left-0 overflow-y-auto grid gap-y-2"
  >
    <div class="flex justify-between">
      <h2>Flitro</h2>
      <a href=""><span>Resetear</span></a>
    </div>
    <!-- Buscador -->
    <input
      class="block w-full rounded-md outline-0 border h-10 p-1"
      placeholder="Buscar por Hotel"
      type="search"
      name=""
      id=""
    />
    <hr />

    <!-- Filtro Categoria -->
    <div class="h-40 filter-box">
      <span>Categoria</span>
      @for (item of [1,2,3,4,5]; track $index) {

      <div class="flex items-center">
        <!-- checked -->
        <input
          [id]="item"
          type="checkbox"
          (change)="valorCheckCambio($event, item)"
          [value]="item"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          [for]="item"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          @for (item of item | arrayFromNumber; track $index) {
          <span class="material-symbols-outlined"> grade </span>
          }
        </label>
      </div>

      }
    </div>
    <hr />

    <!-- Filtro Precio-->
    <div class="h-16 filter-box">
      <span>Precio por Noche</span>
      <div class="flex justify-center">
        <input
          #range_price
          type="range"
          name=""
          (change)="valorCambio('price', +range_price.value)"
          id="input-range-precio"
          value="0"
          [min]="50"
          [max]="1000"
          [step]="50"
        />
        <label class="ml-3" for="input-range-precio"
          >{{ filterOptions().price }}€</label
        >
      </div>
    </div>
    <hr />

    <!-- Valoración-->
    <div class="h-16 filter-box">
      <span>Valoraciones </span>
      <div class="flex justify-center">
        <input
          #range_rate
          type="range"
          value="0"
          name=""
          (change)="valorCambio('rate', +range_rate.value)"
          id="input-range-rate"
          [min]="0"
          [max]="5"
          [step]="1"
        />
        <label class="ml-3" for="input-range-rate">{{
          filterOptions().rate
        }}</label>
      </div>
    </div>
    {{ filterOptions() | json }}
  </section>
  <!-- Hotels -->
  <section class="ml-64 p-5 w-full">
    <h1>
      Mostrando
      <span class="text-yellow-500 font-bold"> {{ hotels.length }} </span>
      Hoteles en Madrid
    </h1>
    @for (hotel of hotels; track $index) {

    <!-- Card -->
    <div class="flex gap-x-5 items-center p-2 shadow-md max-w-3/4 h-40">
      <img class="h-32 w-32" [src]="hotel.image" alt="" />
      <div class="flex justify-between border w-full p-5">
        <div>
          <h2>{{ hotel.name }}</h2>
          <div class="estrellas">
            @for (start of hotel.stars| arrayFromNumber; track $index) {
            <span class="material-symbols-outlined"> grade </span>
            }
            <!-- {{ hotel.stars }} -->
          </div>
          <div class="Calificacion">
              <!-- [ngClass]="{
                  'bg-red-100 text-red-800 ':hotel.rate <= 1,
                  'bg-pink-100 text-pink-800 ':hotel.rate <= 2,
                  'bg-yellow-100 text-yellow-800 ':hotel.rate <= 3,
                  'bg-green-400 text-green-300 ':hotel.rate <= 4 ,
                  'text-green-800 bg-green-900 ':hotel.rate <= 5 ,
                }" -->
            <span
              class="text-xs font-medium me-2 px-2.5 py-0.5 rounded"
              >{{ hotel.rate }}</span
            >
          </div>
          <div class="ubicacion">
            {{ hotel.address }}
          </div>
        </div>
        <span>{{ hotel.price }}</span>
        <div></div>
      </div>
    </div>

    } @empty {
    <p>No hay datos</p>
    }

    <div
      class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
    >
      <div class="flex flex-1 justify-between sm:hidden">
        <a
          href="#"
          class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >Previous</a
        >
        <a
          href="#"
          class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >Next</a
        >
      </div>
      <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <div>
          <p class="text-sm text-gray-700">
            Pagina
            <span class="font-medium">{{currentPage}}</span>
            de
            <span class="font-medium">{{totalPages}}</span>
            de
          </p>
        </div>
        <div>
          <nav
            class="isolate inline-flex -space-x-px rounded-md shadow-sm"
            aria-label="Pagination"
          >
            <a
            (click)="paginateArray(currentPage-1)"
              href="#"
              class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              <span class="sr-only">Previous</span>
              <svg
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
            <!-- <a
              href="#"
              aria-current="page"
              class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >1</a
            >
            <a
              href="#"
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >2</a
            >
            <a
              href="#"
              class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
              >3</a
            >
            <span
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0"
              >...</span
            >
            <a
              href="#"
              class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
              >8</a
            >
            <a
              href="#"
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >9</a
            >
            <a
              href="#"
              class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >10</a
            > -->
            <a
            (click)="paginateArray(currentPage+1)"
              href="#"
              class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              <span class="sr-only">Next</span>
              <svg
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
