
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$header-height: 68px;

.app-wrapper {
  height: calc(100vh - $header-height);
  top: 0;
  @apply relative overflow-y-auto;
}
